.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.style1 {
  background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/041.webp");
  height: 400px;
  margin-top: 58px;
}
.mask {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5rem 0;
}

/* footer  */

.footer {
  background-color: #caced1;
}

.mask2 {
  background-color: rgba(251, 251, 251, 0.2);
}
.copy {
  background-color: rgba(0, 0, 0, 0.2);
}

